/*css/style.css */

.slider{
	margin:50px auto;
	width:50%;
}
 
.img-box img{
	width:100%;
}

.btn{
	display: flex;
	justify-content: center;
		align-items: center;		 
}
button{
	border:none;
	outline:none;
	 background:#111; 
	padding:10px 30px;
	font-size: 20px;
	color:#ddd;
	cursor: pointer;
	margin: 6px;
}

button:hover{
	 background: rgb(49, 48, 48); 
}